body,html,head{
  margin:0;
  padding:0;
  background:#F2F2F0;
}
 

textarea{
  width: 100%;
  font-size: 16px;
  padding: 10px;
  outline: none;
  resize: vertical;
  border: thin solid #ddd;
  border-radius: 5px;
} 
pre,code{
  text-align:left; 
}
pre{
  text-align:left; 
  border-radius: 3px;
}
 
.output-container.error{ 
  border:2px solid #D32F2F;
}
h2{
  text-align:left;
  margin: 10px 0px 20px;
}
.input-container{ 
    width: 80%;
  margin: 20px auto 0;
}
.output-container{
  background-color: rgba(#BFBFBF,0.8); 
  position:relative;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  border:2px solid transparent;
  border: thin solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
}
.output-container button{
  position: absolute;
  right: 0;
  top:0;
  padding: 6px 10px;
  min-width: 100px;
  margin: 20px;
  font-size: 12px;
  border-radius: 5px;
  
}
button[disabled]{
  opacity: 0.5;
} 
button{ 
  padding: 10px 15px;
  min-width: 150px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 20px auto;
  background-color: #fff;
  border: thin solid black;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  

}
header{
  background-color: #0D0D0D;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: left; 
  color: #fff;
 
}