body,html,head{
  margin:0;
  padding:0;
  background:#FAFAF4;
}
header{
  background-color: #30323D;
  padding: 10px 20px 50px;
  margin-bottom: 20px;
  text-align: left; 
  color: #fff;
  position:relative;
 
} 



svg.wave .a { fill: none; }

svg.wave .b { clip-path: url(#a); }

svg.wave .c, svg.wave .d { fill: #FAFAF4; }

svg.wave .d { opacity: 0.5; isolation: isolate; } 

svg.wave { width:100%;position: absolute; bottom: -1px; left: 0; }


textarea{
  width: 100%;
  font-size: 16px;
  padding: 10px;
  outline: none;
  resize: vertical;
  border: thin solid #ddd;
  border-radius: 5px;
} 
pre,code{
  text-align:left; 
}
pre{
  text-align:left; 
  border-radius: 3px;
}
 
.output-container.error{ 
  border:2px solid #E91E63; 
}
h2{
  text-align:left;
  margin: 20px 0px;
  color: #0b0b0b;
  font-weight: 500;
}
h2 strong{
  font-weight: bold;
  color: black;
}
.input-container{ 
    width: 80%;
  margin: 20px auto 0;
}
.output-container{
  /* background-color: rgba(#BFBFBF,0.8);  */
  position:relative;
  width: 80%;
  max-width: 80%;
  margin: 0 auto 50px;
  border:2px solid transparent;
  /* border: thin solid #ddd; */
  border-radius: 5px;
  padding: 10px 20px;

}
.output-container button{
  position: absolute;
  right: 0;
  top:0;
  padding: 6px 10px;
  min-width: 100px;
  margin: 20px;
  font-size: 12px;
  border-radius: 5px;
  
}
button[disabled]{
  opacity: 0.5;
} 
button{ 
  padding: 10px 15px;
  min-width: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 20px auto;
  background-color: #D8315B;
  border: thin solid #D8315B;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  

}

 
